* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  html,
  body {
    height: 100%;
    width: 100%;
  }
  .main {
    float: left;
    background: linear-gradient(217deg, #3caeee 1.5%, rgba(0, 0, 0, 0) 100%),
      linear-gradient(38deg, #ee3cd1 0%, rgba(217, 217, 217, 0) 99.04%);
    width: 65%;
    height: 100%;
  }
  .page {
    position: relative;
    float: right;
    background-color: rgb(255, 255, 255);
    width: 35%;
    height: 100%;
  }
  .page span{
    cursor: pointer;
    position: absolute;
    top: 20px;
    left :10px;
  }
  .page h2 {
    color: #575dfb;
    position: absolute;
    left: 60px;
    top: 50px;
  }
  .page h6 {
    color: #887d7d;
    position: absolute;
    font-size: 16px;
    letter-spacing: -0.176px;
    font-weight: 400;
    left: 60px;
    top: 87px;
  }
  .page h3 {
    position: absolute;
    left: 86px;
    top: 150px;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.176px;
  }
  .input-group {
    position: absolute;
    left: 70px;
    top: 165px;
    width: 350px;
  }
  .password h3 {
    position: absolute;
    left: 86px;
    top: 235px;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.176px;
  }
  .input-group1 {
    position: absolute;
    left: 70px;
    top: 250px;
    width: 350px;
  }
  .loginbtn button{
    border-radius: 16px;
    background: #575DFB;
    position: absolute;
    top: 340px;
    left: 85px;
    width: 320px;
  }
  
  .login h3{
    position: absolute;
    top:514px;
    left:110px;
    color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.176px;
  }
  .login a{
    position: absolute;
    top:510px;
    left:270px;
    color: #575DFB;
  }
  .line-1 {
    border-style: solid;
    border-color: #575656;
    border-width: 1px 0 0 0;
    width: 310px;
    height: 0px;
    position: absolute;
    left: 90px;
    top: 410px;
    }
    .googlebtn button{
        border-radius: 16px;
        background: #ffffff;
        color: #000;
        position: absolute;
        top: 440px;
        left: 85px;
        width: 320px;
      }
      .googlebtn img{
        padding-right: 7px;
      }
      
  